@font-face {
    font-family: 'Fruity Juice';
    src: url('./assets/Fruity Juice.otf');
}

:root {
    --color-background: #ffd592;
    --color-top-bar: #bf8742;
    --color-text: #412400;
    --color-button-text: #ffe4b9;



    background-color: var(--color-background);
    background-image: url('/noisy.png');
    color: white;
}

#website-content{
    display: block;
    margin: auto;
    max-width: 80%;
}

.top-bar{

    background-color: var(--color-top-bar);

    border-radius: 20px;
}
.top-bar-button {
    background-color: var(--color-top-bar);

    font-family: 'Fruity Juice';
    font-size: clamp(0.7rem, 1vw, 1rem);
    color: var(--color-button-text);

    border: none;

    cursor: pointer;


    height: clamp(2.5rem, 8vw, 3.5rem);
    width: clamp(4rem, 8vw, 6rem);
}
.top-bar-button:hover{
    filter: brightness(70%);

    transition: 0.2s;
}

.top-bar-button.left-end{

    border-radius: 20px 0 0 20px;
}

.basic-header1{
    font-family: 'Fruity Juice';
    color: var(--color-text);

    display: block;
    margin: auto auto 2dvh auto;
    text-align: center;

    font-size: clamp(2rem , 7vw, 4rem);


}
.basic-header2{
    font-family: 'Fruity Juice';
    color: var(--color-text);

    display: block;
    margin: auto;
    text-align: center;

    font-size: clamp(1.5rem , 7vw, 2rem);


}


.basic-paragraph{
    display: block;
    margin: 2% auto 2% auto;
    
    font-family: 'Fruity Juice';
    color: var(--color-text);
    font-size: clamp(.8rem, 3vw, 1.2rem);
    text-align: start;

    max-width: clamp(40ch, 3vw ,65ch);
}

.basic-image{
    display:block;
    margin: auto;


    width: clamp(1rem, 70vw, 65ch);
}